.col-4>img{
    width: 100px;
    height: 100px;
}

a{
    text-decoration: none !important;
    margin-right: 5px;
}

body{
    background: linear-gradient(96deg, rgb(226, 219, 219) 1%, rgb(173, 217, 245) 36%, rgb(201, 214, 218) 71%, rgb(178, 176, 181) 100%);
    
}
