.col-4>img{
    width: 100px;
    height: 100px;
}

a{
    text-decoration: none !important;
    margin-right: 5px;
}

body{
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(96deg, rgb(226, 219, 219) 1%, rgb(173, 217, 245) 36%, rgb(201, 214, 218) 71%, rgb(178, 176, 181) 100%);

background: linear-gradient(96deg, rgb(226, 219, 219) 1%, rgb(173, 217, 245) 36%, rgb(201, 214, 218) 71%, rgb(178, 176, 181) 100%);

background: -moz-linear-gradient(96deg, rgb(226, 219, 219) 1%, rgb(173, 217, 245) 36%, rgb(201, 214, 218) 71%, rgb(178, 176, 181) 100%);

background: -webkit-linear-gradient(96deg, rgb(226, 219, 219) 1%, rgb(173, 217, 245) 36%, rgb(201, 214, 218) 71%, rgb(178, 176, 181) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
}
